body {
  background-color: #D4D4D4;
}

h1 {
  color: #2B2B2B;
  text-align: center;
  font-size: 50px;
}

p {
  color: #2B2B2B;
  text-align: center;
  font-size: 25px;
}


.button {
  margin: auto;
  display: block;
}

.signup-button {
  background-color: #008000;
  color: green;

  border-radius: 15px;
  margin: auto;
  display: block;
  width: 100px;

  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
}

.signup-button:hover {
  background-color: #228B22;
}

.login-button {
  background-color: #535b69;
  color: green;

  border-radius: 15px;
  margin: auto;
  display: block;
  width: 100px;

  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
}

.login-button:hover {
  background-color: #677385;
}

form {
  border-radius: 20px;
  margin: auto;
  display: block;
  width: 700px;
  height: 500px;

  text-align: center;
  color: black;
  font-size: 25px;
}

.Confirmation {
  background-color: white;
  color: black;
  border: 5px solid #04AA6D;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}

.Confirmation:hover {
  background-color: #04AA6D;
  color: white;
}

.form-input {
  text-color: black
  border-radius: 10px;
  margin: auto;
  display: block;
  width: 200px;


  text-align: center;
  color: #000000;
  font-size: 25px;
}