<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    {% if mode == "day" %}
        <link rel="stylesheet" href="static/css/day.css">
    {% elif mode == "night" %}
        <link rel="stylesheet" href="static/css/night.css">
    {% endif %}
</head>

<body>
    <div>
        <h1>Create a Post</h1>
        <form action="" method="post">
            <label for="html">Title</label><br>
            <input type="text" name="title" id="title" class="form-input" required><br>

            <label for="html">Content</label><br>
            <textarea name="content" id="content" class="form-input" rows="5" cols="30" required></textarea><br>

            <label for="html">Category</label><br>
            <select name="category" id="category" class="form-input" required>
                <option value="general">General</option>
                <option value="news">News</option>
                <option value="entertainment">Entertainment</option>
                <option value="tech">Technology</option>
                <option value="sports">Sports</option>
            </select><br><br>

            <button type="submit" id="submit" class="Confirmation">Post</button>
        </form>
    </div>
</body>
</html>
