<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook - My Posts</title>
    {% if mode == "day" %}
        <link rel="stylesheet" href="static/css/day.css">
    {% elif mode == "night" %}
        <link rel="stylesheet" href="static/css/night.css">
    {% endif %}

</head>

<body>
    <div>
        <h1>Notebook</h1>
        <p>Social network</p>
    </div>

    <div>
        <a class="action-button" href="/create_post">Create New Post</a>
        <br/>
        <a class="action-button" href="/edit_profile">Update Personal Data</a>
        <br/>
        <a class="action-button" href="/logout">Log Out</a>
    </div>

    <div class="posts-container">
        {% for post in posts %}
        <div class="post-card">
            <div class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                <span class="post-meta">
                    {{ post.creation_date }}
                </span>
            </div>

            <div class="post-content">
                {{ post.content }}
            </div>

            <div class="post-footer">
                <span class="post-meta">
                    Category: {{ post.category }} |
                    Author: <a class="user-link" href="/user/{{ post.author }}">{{ post.author }}</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>