<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacabook</title>
    {% if mode == "day" %}
        <link rel="stylesheet" href="static/css/day.css" >
    {% elif mode == "night" %}
        <link rel="stylesheet" href="static/css/night.css" >
    {% endif %}
</head>

<body>
    <div>
        <h1>Log In</h1>
        <form action="" method="post">
            <label for="html">Username</label><br>
            <input type="text" name="username" id="username"  class="form-input" required/><br>
            <label for="html">Password</label><br>
            <input type="password" name="password" id="password"  class="form-input" required/><br>
            <button type="submit" id="submit" class="Confirmation">Confirm</button>
        </form>

    </div>

</body>

</html>
