<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storybook</title>
    {% if mode == "day" %}
        <link rel="stylesheet" href="static/day.css" >
    {% elif mode == "night" %}
        <link rel="stylesheet" href="static/night.css" >
    {% endif %}
</head>

<body>
    <div class="contest">
        <h1>
            LOGIN
        </h1>
        <pre1>
            NAME:
            <br>
        </pre1>
        <p2>
            PASSWORD:
            <br>
        </p2>
        <p3>
            PASSWORD CONFIRMATION:
        </p3>
        <form action="">
            <input type="text" name="login_text" id="lgn_txt"  class="login_text"/>
            <input type="text" name="password_text" id="psw_txt"  class="password_text"/>
            <input type="text" name="conf_password_text" id="conf_psw"  class="password_text1"/>
            <input type="submit" value="Confirm" id="Conf_btn" class="Conf_btn"/>
        </form>

    </div>


</body>

</html>
