<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacabook</title>
    {% if mode == "day" %}
        <link rel="stylesheet" href="../static/css/day.css">
    {% elif mode == "night" %}
        <link rel="stylesheet" href="../static/css/night.css">
    {% endif %}
</head>

<body>
    <div>
        <h1>User Profile</h1>
        <p>Personal information</p>
    </div>

    <div>
        <p><strong>Username:</strong> {{ username }}</p>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Surname:</strong> {{ surname }}</p>
        <p><strong>Birth Date:</strong> {{ birth_date }}</p>
        <p><strong>About:</strong> {{ about }}</p>
    </div>

    <div>
        <a class="feed-button" href="/feed">Go to Feed</a>
    </div>
</body>
</html>